body {
  background: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  max-width: 40em;
}

h1 {
  color: #e74c3c;
}

#registerBtn {
  background-color: antiquewhite;
}

#commentsTemplate {
  border: solid;
  background: red;
}

.comment-box {
  width: 200px;
  margin: 10px 0;
  border: 1px solid;
}

.hidden {
  display: none;
}

#entryList {
  margin-bottom: 100px;
}
